# Gesundheitswesen

In [1]:
from dash import Dash, html, dash_table, dcc, callback, Output, Input
import pandas as pd
import plotly.express as px
import dash_bootstrap_components as dbc
from dd import DataDictionary as dd

df_s = pd.read_csv("data/23111-0001_de_san.csv", sep=";")
# Keys: 'anz_kh', 'bett', 'bett_100k','pat_100k', 'ber_bch', 'verweil_dschn', 'bett_aus_dschn'

cols = ['anz_kh', 'bett_100k','pat_100k']
dta = [{'label':' ' +dd.raw[k] + ' ('+k+')', 'value':k } for k in cols]
# Anfangsbelegung
start_val = ['anz_kh']
app = Dash()
# App layout'
fig = px.line(df_s, x="jahr", y=start_val)

app.layout = [
    html.H1(children="Grunddaten der Krankenhäuser", className="app-header",),
    html.Hr(),
    dash_table.DataTable(
        data=df_s.to_dict("records"),
        columns=[{"name": i, "id": i} for i in df_s.columns],
        page_size=3,
        style_header={"backgroundColor": "rgb(30, 30, 30)", "color": "white"},
        style_data={"backgroundColor": "rgb(50, 50, 50)", "color": "white"},
    ),
    dcc.Checklist(options=dta, id='controls-and-check-item', value=start_val, inline=True),
    dcc.Graph(figure=fig, id="controls-and-graph"),
    
]

@callback(
    Output(component_id="controls-and-graph", component_property="figure"),
    Input(component_id="controls-and-check-item", component_property="value"),
)
   


def update_graph(col_chosen):
    fig = px.line(df_s, x="jahr", y=col_chosen)
    return fig


if __name__ == "__main__":
    app.run(debug=False, port=4711)

In [6]:
df_bl = pd.read_csv("data/kh_bulä_geschl_wohnort_2023.csv")
df_bl.head(12)

,jahr,geschlecht,wohnort,BW,BY,BE,BB,HB,HH,HE,MV,NI,NW,RP,SL,SN,ST,SH,TH,wo_abbr
0,2023,männlich,Deutschland,925930,1303191,381606,243485,82026,223735,599296,195555,750824,2001026,406946,116581,435922,249572,257523,262243,DE
1,2023,männlich,Baden-Württemberg,856500,29401,712,197,58,464,4360,246,705,2072,9605,475,533,201,512,346,BW
2,2023,männlich,Bayern,23941,1238589,833,267,64,525,8569,316,733,1858,920,217,2358,393,498,5518,BY
3,2023,männlich,Berlin,538,1273,313174,9945,42,361,403,1186,709,879,197,44,611,505,521,217,BE
4,2023,männlich,Brandenburg,187,615,56140,221851,21,345,195,5724,464,370,99,25,7424,2052,312,292,BB
5,2023,männlich,Bremen,73,150,115,48,49618,1017,122,59,5502,532,41,7,37,24,399,17,HB
6,2023,männlich,Hamburg,235,517,324,119,122,142173,254,401,1913,587,81,15,78,61,9000,66,HH
7,2023,männlich,Hessen,18028,10512,564,171,69,644,551853,208,7656,8884,15576,448,404,229,546,2172,HE
8,2023,männlich,Mecklenburg-Vorpommern,105,251,2378,2205,44,2302,133,182125,801,303,55,10,238,233,5000,112,MV
9,2023,männlich,Niedersachsen,911,2241,1561,655,31369,25738,4059,1691,693447,28323,475,96,624,4419,5268,1465,NI
10,2023,männlich,Nordrhein-Westfalen,2917,5330,1393,504,336,2019,10683,718,25174,1931395,6438,354,607,456,2019,494,NW
11,2023,männlich,Rheinland-Pfalz,19664,2241,285,91,43,329,14280,88,461,23095,366141,12361,170,107,247,151,RP

In [28]:
df_bl = pd.read_csv("data/kh_bulä_geschl_wohnort_2023.csv")
df_bl.head(12)

 
dashGridOptions = {"pagination": True}
all = ['BB',	'BE',	'BW',	'BY',	'HB',	'HE', 'HH', 'MV', 'NI', 'NW', 'RP', 'SH', 'SL', 'SN', 'ST', 'TH']
sel= ['TH']
fig = px.pie(df_bl, values=sel)
# fig = px.bar(df_bl, x="wohnort", y=sel, color="geschlecht")
		
sub_title = "Diagnosen Deutschland insgesamt"

app.layout = [
    dcc.Dropdown(
                    id="land",
                    options=[{"label": ctr, "value": ctr} for ctr in all],
                    value=sel,
                    multi=True,
                ),
    dcc.Graph(figure=fig, id="bar_main")
    
]

@app.callback(
    Output("bar_main", "figure"), 
    Input("land", "value")
    )
def update_graph(land_chosen):
    # fig = px.bar(df_bl, x="wohnort", y=land_chosen, color="geschlecht")
    fig = px.pie(df_bl, values=land_chosen)
    print(land_chosen)
    return fig

if __name__ == "__main__":
    app.run(debug=False, port=4711)

In [26]:
 

df_bl.wohnort.unique()
df = df_bl[df_bl['wohnort'].isin(all)]
df

Empty DataFrame
Columns: [jahr, geschlecht, wohnort, BW, BY, BE, BB, HB, HH, HE, MV, NI, NW, RP, SL, SN, ST, SH, TH, wo_abbr]
Index: []

In [ ]:
df = pd.read_csv('data/gkv_leistungen-2024.csv')
df.Mrd_EUR.sum()
fig = px.pie(df, values="Mrd_EUR", names="GKV-Leistungsausgaben", hole=.3)
#fig2 = px.hist(df, values="Mrd_EUR", names="GKV-Leistungsausgaben")
app.layout = [
    dcc.Graph(figure=fig, id="bar_main")
    
]
app.run(port=9898)

TypeError: pie() got an unexpected keyword argument 'pull'